body, html {
    height: 100%;
    margin: 0;
}
.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.row {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.col-md-4, .col-md-8 {
    display: flex;
    flex-direction: column;
}
.col-md-4 {
    background-color: #C2C2C2;
    padding: 10px;
}
.col-md-8 {
    background-color: white;
    padding: 10px;
}
.fixed-content {
    flex-shrink: 0;
}
.table-container {
    flex: 1;
    overflow-y: auto;
}
table.dataTable {
    width: 100% !important;
}
form {
    margin-bottom: 10px;
}
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
}

.titu {
    font-family: 'Arial', cursive; /* Cambiar la fuente */
    text-align: center; /* Centrar el texto */
    font-size: 4em; /* Cambiar el tama침o de la fuente (opcional) */
    color: #333; /* Cambiar el color del texto (opcional) */
  }

  .disabled-button {
    background-color: #f00000; /* Color gris para indicar que est치 deshabilitado */
    pointer-events: none; /* Evita que el bot칩n se pueda hacer clic */
    color: #a9a9a9; /* Cambia el color del texto a gris */
}


/* Estilos b치sicos para el spinner */
.spinner {
    display: none;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 